/* Normalize and reset */
@import "../../node_modules/modern-normalize/modern-normalize.css";

@font-face {
    font-family: "pixel";
    src:    url(/fonts/Minecraft.woff2) format("woff"),
            url(/fonts/Minecraft.woff) format("woff"),
            url(fonts/Minecraft.ttf) format("truetype");
}
:root{
    line-height: 1.5;
    --main-color: #081820;
    --sec-color:#000818;
    --green: #082820;
    --light-green: #e8f4d0;
    --text: #f8fce8;
    font-family: "pixel";
}
html{
    height: 100%;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
  
ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}
  
img {
    display: block;
    max-inline-size: 100%;
}
/* END Normalize and reset */

body{
    margin: 0 ;
    padding: 0 ;
    background-image: url(images/forest_2.png);
    background-repeat: no-repeat;
    background-size: auto 100vh;
    height: 100%;
    display: flex;
}
h1{
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    padding-bottom: 1.5rem;
}
.highlight{
    font-style: italic;
}
.right{
    padding: 0;
    margin: 0;
    height: 100%;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--text);
    flex-grow: 1;
    width: 172%;
}
.left{
    padding:0;
    margin: 20vh 0 0 0;
    height: 150px;
    position: relative;
    width: 100%;
    background-color:#081820b6;
    color: var(--text);
    align-content: center;
    text-align: center;
    font-size: 32px;
    box-shadow: 0 5px 10px -5px #000000 ;
    letter-spacing: 3px;

}
.flex{
    padding: 0 0 0 2.5rem;
    display: flex;
    flex-direction: column;
}
.text,
.lower{
    flex-grow: 1;
    box-shadow: 0 0 10px #000000;
    font-family: sans-serif;
} 

.form-container{
    background: var(--sec-color);
    height: 300px;
    flex-grow: 0;
    color: white;
    box-shadow: 0 3px 20px #000000;
}

.text{
    justify-content: flex-end;
    padding: 0 2rem 2.5rem 2.5rem;
    font-size: 24px;

}
.lower{
    align-items: baseline;
    padding: 2.5rem 0 0 2.5rem;
    gap: 20px;
}
#first{
    padding-bottom: 1rem;
}
.forms-lists{
    display: flex;
    column-gap: 4rem;
    font-family: sans-serif;
}

label, input{
    display: flex;
}

input[type=submit]{
    background-color: var(--text);
    border: none;
    box-shadow: 10px  #000000;
    font-size: 18px;
    font-weight: bold;
    color: #000818;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    -webkit-box-shadow: inset -2px -2px 10px 0px rgba(0,0,0,0.69); 
    box-shadow: inset -2px -2px 10px 0px rgba(0,0,0,0.69);
}
input[type=submit]:hover{
    background-color: #46684f;
    color: var(--text);
}

input[type=text],input[type=password],input[type=email],input[type=tel]{
    background-color: var(--sec-color);
    width: 275px;
    border: 0px solid;
    border-bottom: 2px solid var(--text);
    color: var(--text);
}


input:focus:valid{
    border-bottom: 2px #46684f solid;
    outline: none;
}

input:focus:invalid{
    border-bottom: 2px #850000 solid;
    outline:none;
}
a{
    color: #970083;
    text-decoration: none;
    font-weight: bold;
}
